<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-primary"><a href="../Usuario/Login" style="color:aliceblue;">Acessar o sistema</a></button>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-success"><a href="../Usuario/Cadastrar" style="color:aliceblue">Registrar uma conta</a></button>
    </div>

</div>