
@{
    ViewData["Title"] = "Menu";
}

<h2>Menu</h2>
<div class="row">

    <a href="../Conta/Index">
        <div class="col-lg-4 text-center">
            <figure>
                <img src="~/images/conta.png" width="40%" />
                <figcaption>Criar Conta</figcaption>
            </figure>
        </div>
    </a>
    <a href="../PlanoConta/Index">
        <div class="col-lg-4 text-center">
            <figure>
                <img src="~/images/planocontas.png" width="40%" />
                <figcaption>Plano de Contas</figcaption>
            </figure>
        </div>
    </a>

    <a href="../Transacao/Index">
        <div class="col-lg-4 text-center">
            <figure>
                <img src="~/images/registrar_transacao.png" width="40%" />
                <figcaption>Registrar Transação</figcaption>
            </figure>
        </div>
    </a>
</div>

<div class="row">
    <a href="../Transacao/Extrato">
        <div class="col-lg-4 text-center">
            <figure>
                <img src="~/images/extrato.png" width="40%" />
                <figcaption>Extrato</figcaption>
            </figure>
        </div>
    </a>
    <a href="../Transacao/Dashboard">
        <div class="col-lg-4 text-center">
            <figure>
                <img src="~/images/dashboard.png" width="40%" />
                <figcaption>Dashboard</figcaption>
            </figure>
        </div>
    </a>
    <a href="../Home/Ajuda">
        <div class="col-lg-4 text-center">
            <figure>
                <img src="~/images/ajuda.png" width="40%" />
                <figcaption>Ajuda</figcaption>
            </figure>
        </div>
    </a>
</div>
