
@{
    ViewData["Title"] = "Index";
}

<h3>Minhas Contas</h3>

<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <td>#</td>
            <th>ID</th>
            <th>Nome</th>
            <th>Saldo</th>
        </tr>
    </thead>


    @{
        foreach (var item in (List<ContaModel>)ViewBag.ListasContas)
        {
            <tbody>
                <tr>
                    <td><button type="button" class="btn btn-danger" onclick="ExcluirConta(@item.Id.ToString())">Excluir</button></td>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Nome.ToString()</td>
                    <td>R$ @item.Saldo.ToString()</td>
                </tr>
            </tbody>
        }

    }

</table>
<!--No curso foi criado javascript na View, porem aproveitei facilidade de interpolação realizada pelo layout e transportei o 
    Codigo para o local correto-->
<button type="button" class="btn btn-block btn-primary"onclick="NovaConta()" >Nova Conta</button>
