@model UsuarioModel

@{ 
    Layout = "../Shared/_LayoutLogin.cshtml";
    }
<div class="container" id="form">

    @{
        try
        {
            if (TempData["Erro"].ToString() != "")
            {
                <div class="alert alert-danger">
                    <strong>Atenção</strong>@TempData["Erro"]
                </div>
            }

        }
        catch
        { }
        try
        {
            if (TempData["Msg"].ToString() != "")
            {
                <div class="alert alert-success">
                    <strong>Atenção</strong>@TempData["Msg"]
                </div>
            }
        }
        catch { }
    }
    <form asp-controller="Usuario" asp-action="ValidarLogin">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" asp-for="Email">
        </div>
        <div class="form-group">
            <label for="pwd">Senha</label>
            <input type="password" class="form-control" asp-for="Senha">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Lembrar-me</label>
        </div>
        @{ var sair = ViewBag.sair;
        }
        <button type="submit" class="btn btn-default">Acessar</button>
        <button type="button" class="btn btn-success" onclick="formCad(@sair)">Cadastrar</button>
    </form>
</div>