@model HomeModel
@{
    ViewData["Title"] = "Index";
}

<h2>Meu primeiro projeto ASP.NET CORE MVC</h2>

<table border="1">

    <tr>
        <td>ID</td>
        <td>NOME</td>
    </tr>





    @{

        foreach (var item in (List<HomeModel>)ViewBag.Lista)
        {
            <tr>

                <td>@item.Id.ToString()</td>
                <td>@item.Nome.ToString()</td>



            </tr>


        }





    }
</table>

<form asp-controller="Home" asp-action="Index" method="post">
    <input type="text" asp-for="Id" /><br />
    <input type="text" asp-for="Nome" /><br />
    <input type="submit" value="OK"/>

</form>